*{
    padding: 4px;
margin: 0px;
font-family: "Roboto", serif;
}



.div02{
background-color: red;

}
.div03{
background-color: yellow;

}
.div04{
background-color: green;

}
.div05{
background-color: blue;

}
.div06{
background-color: aqua;

}